/* .contact_information .residential_address {
    margin-top: 60px;
    width: calc(100% - 225px);
    margin-left: 225px;
    padding: 30px;
    transition: all 0.3s ease;
    background: #fff;
    border: 1px solid #E0F2F1;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
} */